.places__url {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .places__url {
    font-size: 2.4vw;
  }
}
