.intro__text-list {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  max-width: 383px;
}

@media screen and (max-width: 425px) {
  .intro__text-list {
    font-size: 12px;
    line-height: 19px;
  }
}
