.comments__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 19px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .comments__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  .comments__container {
    margin-top: 42px;
  }
}
