.cover__subtitle {
  max-width: 382px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 3.5%;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    margin-top: 6.5%;
    margin-bottom: 5.5%;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 35px;
    margin-top: 4%;
    max-width: 275px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    margin-top: 3.5%;
    margin-bottom: 7%;
  }
}
