.video__icon-play {
  width: 41px;
  height: 41px;
  margin-top: 5.4%;
  margin-left: 5.4%;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .video__icon-play {
    margin-top: 7%;
    margin-left: 7%;
  }
}

@media screen and (max-width: 320px) {
  .video__icon-play {
    margin-top: 5.56%;
    margin-left: 5.56%;
  }
}
