.comments__quote {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 40px 0 0 0;
}


@media screen and (max-width: 768px) {
  .comments__quote {
    font-size: 16px;
    line-height: 23px;
    order: 3;
    margin-top: 15px;
  }
}
