.intro__title {
  max-width: 683px;
  font-size: 54px;
  line-height: 59px;
  margin-top: 80px;
  margin-bottom: 0;
}

@media screen and (max-width: 425px) {
  .intro__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}


